
/* Map container CSS */
.map_container {
    height: 100%;
    position: fixed;
    width: 75%;
    margin-left: 25%;
}

/* the little indicator for Longitude and Latitude. */
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 25%;
    margin: 12px;
    border-radius: 4px;
}

.button_update {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}