.sidepanel{
	position: fixed;
	width: 30%;
	height: 100%;
	z-index: 1;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	/* opacity: 0.4; */
}

.tabs{
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
}
 
.tabContent{
	position: fixed;
	width: 30%;
	height: 100%;
}